<ul>
    <li class="habit-item compleated">
        <div class="habit-checbox checked"></div>
        <span class="habit-text">opis</span>
        <button class="btn-del">🗑️</button>
    </li>
    <li class="habit-item ">
        <div class="habit-checbox "></div>
        <span class="habit-text">opis</span>
        <button class="btn-del">🗑️</button>
    </li>
    <li class="habit-item ">
        <div class="habit-checbox "></div>
        <span class="habit-text">opis</span>
        <button class="btn-del">🗑️</button>
    </li>
</ul>